/* stylelint-disable order/properties-order */
.some-icon {
  /* stylelint-disable-next-line liberty/use-logical-spec */
  height: 1.5rem;
  /* stylelint-disable-next-line liberty/use-logical-spec */
  width: 1.25rem;
  color: yellow;
}
